@{
    ViewData["Title"] = "Bem vindos ao Jovem Programador";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos ao Jovem Programador!</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Desenvolvimento de sistemas (back end/front end)</a></p>
</div>
