@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Idade</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Contato</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Cep</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>

